.system_stackalerts {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    width: 260px;
    color: #f5f5f5;
    animation-name: opacity;
    animation-duration: 0.75s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.system_stackalerts .system_alert {
    margin-bottom: 10px;
}

.system_stackalerts.left {
    left: 10px;
}

.system_stackalerts.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.system_stackalerts.right {
    right: 10px;
}

.system_stackalerts.top {
    top: 10px;
}

.system_stackalerts.bottom {
    bottom: 10px;
}