.system_tabcontainer {
  width: 100%;
}

.system_tabcontainer > .pages {
  width: 100%;
  height: 50px;

  overflow-x: scroll;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid black;
}

.system_tabcontainer > .pages::-webkit-scrollbar {
  display: none;
}

.system_tabcontainer > .pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.system_tabcontainer > .pages > .system_button {
  margin-left: 0;
  margin-right: 10px;

  margin-bottom: 0;

  background: none;
  color: black;

  border-radius: 8px 8px 0 0;
}

.system_tabcontainer > .pages > .system_button.active {
  background: green;

  position: relative;
}
