/* EXAMPLE DEFAULT VARS STYLES TO WIDGETS. Use case: import this file and widgets.css to see result */

:root {
  --main-wrapper-default-width: 1140px;

  --main-bg-color: #edeef0;
  --main-br-color: #292d32;

  --main-border-radius: 7px;

  --main-cell-color: #fff;
  --main-cell-border-radius: 20px;
  --main-cell-col-size: 9.7%;

  --main-text-color: #292d32;
  --main-accent-text-color: #10684b;

  --main-input-padding-vertical: 12px;
  --main-input-padding-horizontal: 16px;
  --main-input-padding: var(--main-input-padding-vertical)
    var(--main-input-padding-horizontal);
  --main-input-border-radius: 15px;
  --main-input-background: #f8f8f8;
  --main-input-background-error: 1px solid #da5656;
  --main-input-background-focus: #e9e9e9;
  --main-input-background-hover: #f3f3f3;
  --main-input-border: 1px solid var(--main-input-background);
  --main-input-font-size: 16px;
  --main-input-color: #292d32;
  --main-input-margin: 8px 2px;
  --main-input-label-font-size: 16px;
  --main-input-label-color: #a0a0a0;
  --main-input-error-label-color: #da5656;
  --main-input-text-disabled: #89929c;

  --main-button-padding: 12px 20px;
  --main-button-margin: 8px 2px;
  --main-button-background: #10684b;
  --main-button-background-hover: #01b075;
  --main-button-background-active: #03c483;
  --main-button-background-inactive: #aaaaaa;
  --main-button-color: #ffffff;
  --main-button-color-active: #575757;
  --main-button-font-size: 16px;
  --main-button-border-radius: 15px;

  --main-popup-background: rgba(0, 0, 0, 0.3);
  --main-popup-content-background: #fff;

  --main-collapse-button-background: #f8f8f8;
  --main-collapse-button-background-active: #faf8f8;
  --main-collapse-div-background: #f8f8f8;
  --main-collapse-label-color: #292d32;
  --main-collapse-label-active: #575757;
  --main-collapse-border: none;

  --main-checkbox-accent-color: #10684b;

  --main-switchbox-background-color: #292d32;
  --main-switchbox-min-width: 25px;
  --main-switchbox-margin-left: 5px;
  --main-switchbox-size: 16px;
  --main-switchbox-padding: 12px;
  --main-switchbox-active-background-color: #10684b;

  --main-fullsize-loader-background: rgba(0, 0, 0, 0.5);
  --main-fullsize-loader-label-color: #fff;
  --main-fullsize-loader-label-font-size: 24px;

  --main-tabcontainer-folder-background: rgb(219, 220, 222);
  --main-tabcontainer-folder-color: #292d32;
  --main-tabcontainer-folder-padding: 10px 14px;
  --main-tabcontainer-folder-border-radius: 8px 8px 0 0;
  --main-tabcontainer-folder-background-active: #fff;
  --main-tabcontainer-folder-background-color-active: #292d32;
  --main-tabcontainer-folder-background-hover: #ebeaea;
  --main-tabcontainer-page-border-radius: 0 0 8px 8px;
  --main-tabcontainer-page-padding: 20px 12px;
}

.system_mode-dark {
  --main-bg-color: #141414;
  --main-cell-color: #222222;

  --main-text-color: #cdd1d6;

  --main-input-background: #363636;
  --main-input-background-focus: #444444;
  --main-input-background-hover: #3d3d3d;
  --main-input-label-color: #a0a0a0;
  --main-input-color: #cdd1d6;
  --main-input-border: 1px solid var(--main-input-background);

  --main-popup-background: rgba(0, 0, 0, 0.9);
  --main-popup-content-background: #222222;

  --main-collapse-button-background: #363636;
  --main-collapse-button-background-active: #444444;
  --main-collapse-div-background: #363636;
  --main-collapse-label-color: #cdd1d6;
  --main-collapse-label-active: #dadde2;

  --main-tabcontainer-folder-background: #181818;
  --main-tabcontainer-folder-color: #fff;
  --main-tabcontainer-folder-background-hover: rgb(53, 53, 53);
  --main-tabcontainer-folder-background-active: #222222;
  --main-tabcontainer-folder-background-color-active: #fff;
}

body {
  background: var(--main-bg-color);
}
