.system_checkbox {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.system_checkbox > input[type="checkbox"] {
  padding: 10px;
}

.system_checkbox > input[type="checkbox"]:checked {
  accent-color: var(--main-checkbox-accent-color);
}

.system_checkbox > label {
  color: var(--main-text-color);
}
