.system_popup {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background: var(--main-popup-background);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.system_popup>div.system_row {
    width: var(--main-wrapper-default-width);
    height: 70%;
}

.system_popup>div.system_row>div.system_cell {
    height: 100%;
}