.system_dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  padding: 0px 5px;
}

.system_dropdown_ceiling {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.arrow_up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #b1b1b1;
}

.arrow_down {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #b1b1b1;
}

.system_dropdown_options {
  width: 99%;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.system_dropdown_options_wrapper {
  padding: 5px 5px;
}

.system_dropdown_option {
  display: flex;
  width: 100%;
  align-items: center;
  height: 2rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.system_dropdown_option:last-child {
  margin-bottom: 0px;
}
