.system_selectize {
  width: 100%;
  border: 1px solid grey;
  border-radius: 7px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.system_selectize span {
  padding: 4px;
  border: 1px solid grey;
  border-radius: 7px;
}

.system_selectize>input {
  padding: 4px;

  width: min-content;
  flex: auto;

  outline: none;
  border: none;
  background: none;

  font-size: var(--main-input-font-size);
  color: var(--main-input-color);
}